<div class="start-popup-content">
    <h2>Before we begin</h2>
    <ul>
        <li><b>Do not consider it a trusted medical advice.</b> Although it's taken a source (SNPedia) whose authors surely put lots of effort to make it correct, treat
        it as some information found on the Internet. It can be a good starting point for more research, not a definitive answer.
        </li>
        <li><b>Not the whole picture</b>. Many variants are not understood, many are not popular enough to draw statistical conclusions or even to enter a database.
            <ul>
                <li>Even if you find a gene variant that increases the probability of some illness by 20%, you may have some other gene decreasing it by 30% that this analysis missed.</li>
                <li>Most traits are complex, with many genes interacting. Looking at variants in isolation (like this app does) often doesn't reveal the whole picture.</li>
                <li>Some illnesses are actually many bad mutations that keep popping up and are relatively quickly removed from the gene pool, so they don't enter databases.</li>
            </ul>
        <li><b>Not for the faint of heart</b>. Most reports are usually about the increased probability of disease risk - probably that's where most of the research goes. Keep in mind that
        even a 3x increase in something extremely rare is still extremely rare.</li>
        <li><b>Genes load the gun, but the environment pulls the trigger</b>. Even if your genes increase the predisposition to something, in many cases lifestyle plays a bigger role.</li>
    </ul>
</div>
